{
  "inbounds": [
    {
      "type": "shadowsocks",
      "listen": "::",
      "listen_port": 8080,
      "network": "tcp",
      "method": "2022-blake3-aes-128-gcm",
      "password": "{{ server_password }}",
      "users": {{ users | to_json }},
      "multiplex": {
        "enabled": true
      }
    },
    {
      "type": "trojan",
      "listen": "::",
      "listen_port": 8081,
      "users": {{ users | to_json}},
      "tls": {
        "enabled": true,
        "server_name": "{{ inventory_hostname }}",
        "key_path": "/caddy_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ inventory_hostname }}/{{ inventory_hostname }}.key",
        "certificate_path": "/caddy_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ inventory_hostname }}/{{ inventory_hostname }}.crt"
      },
      "multiplex": {
        "enabled": true
      }
    },
    {
      "type": "hysteria2",
      "listen": "::",
      "listen_port": 8082,
      "up_mbps": 1000,
      "down_mbps": 1000,
      "users": {{ users | to_json }},
      "tls": {
        "enabled": true,
        "server_name": "{{ inventory_hostname }}",
        "key_path": "/caddy_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ inventory_hostname }}/{{ inventory_hostname }}.key",
        "certificate_path": "/caddy_data/caddy/certificates/acme-v02.api.letsencrypt.org-directory/{{ inventory_hostname }}/{{ inventory_hostname }}.crt"
      }
    }
  ],
  "experimental": {
    "clash_api": {
      "external_controller": "127.0.0.1:9090",
      "secret": "fayash",
      "access_control_allow_private_network": true
    }
  }
}
